/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1;
	
		display: flex;
		flex-direction: column;
	}

	.button {
		margin-top: auto;
		align-self: flex-start; /* flex-end */
	}

	.newpara, .banner {
  		display: flex; /* flex behavior (displays children inline) */
 		justify-content: center; /* horizontal centering */
 		align-items: center; /* vertical centering */
 		height: 10vh;
 		margin: 0;
 	}

 	.main-header {
 		display: flex;
 		flex-direction: row;
 	}

 	.bodye {
 		display: flex;
 		justify-content: center;
 	}


}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}