/* ================================= 
  Media Queries
==================================== 

@media (min-width: 1200px) {

	.main-header, {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}
	.rowe {
		flex-direction: row;
	}

	.col {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.button {
		margin-top: auto;
		align-self: flex-start;
	}
*/
	.newpara, .banner, .main-footer {
  		display: flex; /* flex behavior (displays children inline) */
 		justify-content: center; /* horizontal centering */
 		align-items: center; /* vertical centering */
 		height: 10vh;
 		margin: 0;
 	}

 	.main-header {
 		display: flex;
 		flex-direction: row;
 	}

 	.bodye {
 		display: flex;
 		justify-content: center;
 	}

 	/*.item-1 {
 		margin-right: auto;
 	}

 	 .item-2 {
 		flex-direction: column-reverse;
 	}
*/
}
/*
@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}*/