
@import "import-styles.css";

* {
	margin: 10%;
	padding: 0;
}

body{
	text-align: center;
	background-color: beige;
}

h1 {
	font-size: 72px;
	color: black;
}

p {
	font-size: 24px;
	color: black;
}

#id001 {
	font-size: 36px;
	color: orange;
}




