
@import "import-styles.css";

* {
	margin: 5%;
	padding: 0;
	text-decoration: none;
}

body{
	text-align: center;
	background-color: beige;
}

h1 {
	font-size: 54px;
	color: black;
}

p {
	font-size: 24px;
	color: black;
}

#id001 {
	font-size: 36px;
	color: orange;
}

a:link {
	color: lightblue;
}

a:visited {
	color: forestgreen;
}

a:hover {
	color: firebrick;
}
