
@import "import-styles.css";

/* Web fonts --- */

@font-face {
	font-family: "Abolition Regular";
	src: url('../fonts/abolition-regular-webfont.eot');
	src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       	 url('../fonts/abolition-regular-webfont.woff') format('woff'),
         url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 5%;
	padding: 0;
	text-decoration: none;
}

body{
	text-align: center;
	background-color: beige;
}

h1 {
	font-size: 54px;
	color: black;
}

p {
	font-size: 24px;
	color: black;
	font-family: "Abolition Regular", Helvetica, Arial, sans-serif;
}

#id001 {
	font-size: 36px;
	color: orange;
}

a:link {
	color: lightblue;
	text-decoration: none;
}

a:visited {
	color: forestgreen;
}

a:hover {
	color: firebrick;
}


/* Media Queries --- */

@media (max-width: 960px) {
	body {
		background: royalblue;
	}
	p {
		color: beige;
	}

}




